<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>moble_shop</title>
    <link rel="stylesheet" href="/css/main2.css">
    <script src="/js/main2.js" defer></script>

</head>
<body>

    <header>
        <div id="top">
            <h2 onclick="location.href='/main'">Moble shop</h2>
        </div>
        <div id="login">
            <a href="/logout">로그아웃</a>  <a href="/main/mypage">마이페이지</a>
            <div>
                오늘의 기온 <span id="C"></span>
            </div>
        </div>
    </header>

    <nav>
        <div id="table">
            <div id="menu">
                <ul class="bar">
                    <li>
                        <a href="#">아우터</a>
                        <ul class="submenu">
                            <li><a href="/Coat">코트</a></li>
                            <li><a href="#">패딩</a></li>
                            <li><a href="#">가디건</a></li>
                            <li><a href="#">재킷</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">상의</a>
                        <ul class="submenu">
                            <li><a href="#">맨투맨</a></li>
                            <li><a href="#">후드</a></li>
                            <li><a href="#">니트</a></li>
                            <li><a href="#">셔츠</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">하의</a>
                        <ul class="submenu">
                            <li><a href="#">데님</a></li>
                            <li><a href="#">숏</a></li>
                            <li><a href="#">슬랙스</a></li>
                            <li><a href="#">트레이닝</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">모자</a>
                        <ul class="submenu1">
                            <li><a href="#">캡</a></li>
                            <li><a href="#">비니</a></li>
                            <li><a href="#">페도라</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">가방</a>
                        <ul class="submenu">
                            <li><a href="#">백팩</a></li>
                            <li><a href="#">메신저백</a></li>
                            <li><a href="#">클러치백</a></li>
                            <li><a href="#">캐리어</a></li>
                            <li><a href="#">기타</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
       
    </nav>
  
    <section>
       
           <div id="start">
           기온별 추천 상품
           </div>
           <div style=" margin-top: 10px; text-align: center;">
            <span>퍼스널 컬러</span><p style=" cursor: pointer;" id="change" class="color" ><%=color%></p>
           </div>
           <div id="item">
            <table>
                <tr>
                    <td><img  style="cursor: pointer;" id="c1"></td>
                    <td><img  style="cursor: pointer;" id="c2"></td>
                    <td><img  style="cursor: pointer;" id="c3"></td>
                    <td><img  style="cursor: pointer;" id="c4"></td>
                </tr>
                <tr>
                    <td id="p1"></td>
                    <td id="p2"></td>
                    <td id="p3"></td>
                    <td id="p4"></td>
                </tr>
            </table>
           </div>
           <div id="item">
            <table>
                <tr>
                    <td><img  style="cursor: pointer;" id="c5"></td>
                    <td><img  style="cursor: pointer;" id="c6"></td>
                    <td><img  style="cursor: pointer;" id="c7"></td>
                    <td><img  style="cursor: pointer;" id="c8"></td>
                </tr>
                <tr>
                    <td id="p5"></td>
                    <td id="p6"></td>
                    <td id="p7"></td>
                    <td id="p8"></td>
                </tr>
            </table>
           </div>


        
    </section>

    <footer>
        <div id="number">
            <p class="a">문의사항 010-1234-5678</p>
            <p class="b">(주)Moble</p>
            <p class="b">주소: 충청남도 천안시 동남구 대흥로 255 </p>
        </div>

    </footer>
</body>
</html>